/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
    --vz-body-bg: #f3f3f9;
    --vz-body-color: #212529;
    --vz-body-color-rgb: 33,37,41;
    --vz-vertical-menu-bg: #fff;
    --vz-vertical-menu-item-color: #6d7080;
    --vz-vertical-menu-item-hover-color: #405189;
    --vz-vertical-menu-item-active-color: #405189;
    --vz-vertical-menu-sub-item-color: #7c7f90;
    --vz-vertical-menu-sub-item-hover-color: #405189;
    --vz-vertical-menu-sub-item-active-color: #405189;
    --vz-vertical-menu-title-color: #919da9;
    --vz-vertical-menu-bg-dark: #405189;
    --vz-vertical-menu-item-color-dark: #abb9e8;
    --vz-vertical-menu-item-hover-color-dark: #fff;
    --vz-vertical-menu-item-active-color-dark: #fff;
    --vz-vertical-menu-sub-item-color-dark: #abb9e8;
    --vz-vertical-menu-sub-item-hover-color-dark: #fff;
    --vz-vertical-menu-sub-item-active-color-dark: #fff;
    --vz-vertical-menu-title-color-dark: #838fb9;
    --vz-header-bg: #fff;
    --vz-header-item-color: #e9ecef;
    --vz-header-bg-dark: #405189;
    --vz-header-item-color-dark: #b0c4d9;
    --vz-topbar-search-bg: #f3f3f9;
    --vz-topbar-user-bg: #f3f3f9;
    --vz-topbar-user-bg-dark: #52639c;
    --vz-footer-bg: #fff;
    --vz-footer-color: #98a6ad;
    --vz-topnav-bg: #fff;
    --vz-topnav-item-color: #6d7080;
    --vz-topnav-item-color-active: #405189;
    --vz-twocolumn-menu-iconview-bg: #fff;
    --vz-twocolumn-menu-bg: #fff;
    --vz-twocolumn-menu-iconview-bg-dark: var(--vz-vertical-menu-bg-dark);
    --vz-twocolumn-menu-bg-dark: #435590;
    --vz-twocolumn-menu-item-color-dark: var(--vz-vertical-menu-item-color-dark);
    --vz-twocolumn-menu-item-active-color-dark: #fff;
    --vz-twocolumn-menu-item-active-bg-dark: rgba(255, 255, 255, 0.15);
    --vz-boxed-body-bg: #e5e5f2;
    --vz-heading-color: #495057;
    --vz-light: #f3f6f9;
    --vz-light-rgb: 243,246,249;
    --vz-dark: #212529;
    --vz-dark-rgb: 33,37,41;
    --vz-link-color: #405189;
    --vz-link-hover-color: #405189;
    --vz-border-color: #e9ebec;
    --vz-dropdown-bg: #fff;
    --vz-dropdown-link-color: #212529;
    --vz-dropdown-link-hover-color: #1e2125;
    --vz-dropdown-link-hover-bg: #f3f6f9;
    --vz-dropdown-border-width: 0px;
    --vz-card-bg: #fff;
    --vz-card-cap-bg: #fff;
    --vz-card-logo-dark: block;
    --vz-card-logo-light: none;
    --vz-modal-bg: #fff;
    --vz-nav-tabs-link-active-color: #495057;
    --vz-nav-tabs-link-active-bg: #f3f3f9;
    --vz-accordion-button-active-color: #3a497b;
    --vz-progress-bg: #eff2f7;
    --vz-toast-background-color: rgba(255, 255, 255, 0.85);
    --vz-toast-border-color: rgba(0, 0, 0, 0.1);
    --vz-toast-header-border-color: rgba(0, 0, 0, 0.05);
    --vz-list-group-hover-bg: #f3f6f9;
    --vz-popover-bg: #fff;
    --vz-pagination-hover-bg: #eff2f7;
    --vz-input-bg: #fff;
    --vz-input-border: #ced4da;
    --vz-input-focus-border: #a0a8c4;
    --vz-input-disabled-bg: #eff2f7;
    --vz-input-group-addon-bg: #eff2f7;
    --vz-input-check-border: var(--vz-input-border);
    --h1: 32px;
    --h2: 28px;
    --h3: 24px;
    --h4: 20px;
    --h5: 18px;
    --h6: 16px;
    --p: 16px;
}